.noselect
{
    -webkit-user-select: none !important; 
    -khtml-user-select: none !important; 
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.cursor-pointer
{
    cursor: pointer;
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.hidden-icon
{
    opacity: 0;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.wrapper
{
    position: fixed;
    width: 100%;
    height: 100%;
}

.container
{
    width: 100%;
    height: 100%;
    text-align: center;
}

.screen-icon, .help-btn
{
    position: absolute;
    width: 8vmin;
    height: 8vmin;
    border-radius: 50%;
    background: #0000002a;
    color: #ffffff;
    text-align: center;
    font-size: 7vmin;
}

.screen-icon
{
    transform: translateX(3vmin) translateY(3vmin);
}

.help-btn
{
    font-size: 6vmin;
    transform: translateX(3vmin) translateY(13vmin);
}

.menu-title
{
    opacity: 0;
    margin-top: 9vmin;
}

.name
{
    opacity: 0;
    margin-top: 2.2vmin;
}

.menu-btn-group
{
    padding-top: 36vmin;
}

.start-btn, .explore-btn, .about-btn
{
    opacity: 0;
    padding: 1.2vmin;
}

.title-text
{
    font-family: 'Architects Daughter', cursive;
    font-size: 9vmin;
}

.name-text
{
    font-family: 'Nanum Brush Script', cursive;
    font-size: 4vmin;
} 

.start-text, .explore-text, .about-text,
.stop-btn, .back-btn, .play-btn, .poi-btn,
.reset-btn
{
    font-family: 'Architects Daughter', cursive;
    font-size: 4vmin;
}

.point
{
    position: absolute;
    top: 50%;
    left: 50%;
}

.point:hover .desc 
{
    opacity: 1;
    transition: opacity 0.3s;
}

.point.visible .label
{
    transform: scale(1.5);
}

.point .label
{
    position: absolute;
    top: -2.2vmin;
    left: -2.2vmin;
    width: 4.4vmin;
    height: 4.4vmin;
    border-radius: 50%;
    background: #00000060;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 4.4vmin;
    font-weight: 100;
    font-size: 2.5vmin;
    cursor: pointer;
    transform: scale(0);
    transition: transform 0.3s;
}

.point .desc
{
    position: absolute;
    top: 3.3vmin;
    left: -13.2vmin;
    width: 22.02vmin;
    padding: 2.2vmin;
    border-radius: 0.44vmin;
    background-color: #000000c4;
    color: #ffffff;
    line-height: 2.2vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2vmin;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.hide-txt.visible
{
    transform: translateX(0) scaleX(1);
    opacity: 1;
}

.hide-txt
{
    position: inherit;
    display: inline-block;
    padding-left: 2vmin;
    opacity: 0;
    transform: translateX(-7vmin) scaleX(0);
    transition: transform 0.3s, opacity 0.3s;
}

.poi-btn, .play-btn, .stop-btn, .back-btn, .reset-btn
{
    position: absolute;
    width: 4vmin;
    background-color: #00000086;
    color: #ffffff;
    padding: 1vmin;
    border-radius: 1vmin;
}

.back-btn.visible
{
    transform: translateX(5vmin) translateY(90vmin);
}

.back-btn
{
    transform: translateX(-30vmin) translateY(90vmin);
    transition: transform 1s;
}

.reset-btn.visible
{
    transform: translateX(5vmin) translateY(58vmin);
}

.reset-btn
{
    transform: translateX(-30vmin) translateY(58vmin);
    transition: transform 1s;
    transition-delay: 0.4s;
}

.poi-btn.visible
{
    transform: translateX(5vmin) translateY(66vmin);
}

.poi-btn
{
    transform: translateX(-30vmin) translateY(66vmin);
    transition: transform 1s;
    transition-delay: 0.3s;
}

.play-btn.visible
{
    transform: translateX(5vmin) translateY(74vmin);
}

.play-btn
{
    transform: translateX(-30vmin) translateY(74vmin);
    transition: transform 1s;
    transition-delay: 0.2s;
} 

.stop-btn.visible
{
    transform: translateX(5vmin) translateY(82vmin);
}

.stop-btn
{
    transform: translateX(-30vmin) translateY(82vmin);
    transition: transform 1s;
    transition-delay: .1s;
}

.trans-width:hover
{
    width: 17vmin;
}

.trans-width
{
    width: 4vmin;
    transition: width 0.3s;
}

.loading-screen.hide
{
    opacity: 0;
}

.loading-screen
{
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 254, 170);
    z-index: 1;
    opacity: 1;
    transition: 1s;
}

.middle 
{
    display: table-cell;
    vertical-align: middle;
}

.inner
{
    margin: auto;
    text-align: center;
    line-height:10vmin;
    font-family: 'Architects Daughter', cursive;
}

.counter
{
    font-size:10vmin;
}

.loading-txt, .loading-btn
{
    width: 15%;
    font-size:3.6vmin;
}

.loading-btn.visible
{
    opacity: 1;
}

.loading-btn
{
    border: 0.1vmin solid;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-left: 4vmin;
    padding-right: 4vmin;
    opacity: 0;
    transition: opacity 3s;
}

.close-btn, .helper-close-btn
{
    font-size: 6vmin;
    text-align: right !important;
}

.about-container.visible
{
    transform: translate(-50%, -50%);
}

.about-container
{
    position: absolute;
    display: table;
    width: 80%;
    height: 83%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    transition: transform 1s;
}

.about-mid
{
    display: table-cell;
    padding-top: 5vmin;
    padding-left: 10vmin;
    padding-right: 10vmin;
    background-color: #ffffff;
    border-radius: 10%;
}

.about-txt
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vmin;
    text-align: justify;
    line-height: 4.2vmin;
    opacity: 0;
}

.about-title, .tools-txt, .socials-txt
{
    font-family: 'Architects Daughter', cursive;
    font-size: 6vmin;
    line-height: 12vmin;
    padding-right: 3vmin;
}

.tools-icon, .socials-icon
{
    font-size: 4.5vmin;
    padding-left: 4vmin;
}

.tool-icon
{
    opacity: 0;
}

.flag
{
    font-size: 4.5vmin;
    padding-left: 1vmin;
}

.helper-container.visible
{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.helper-container
{
    position: absolute;
    display: table;
    width: 80%;
    height: 83%;
    top: 50%;
    left: 50%;
    transform: translate(-107%, -90%) scale(0);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.helper-mid
{
    display: table-cell;
    padding-top: 5vmin;
    padding-left: 10vmin;
    padding-right: 10vmin;
    background-color: #ffffff;
    border-radius: 10%;
}

.help
{
    margin-top: 5vmin;
    width: 100%;
    height: 70%;
    overflow: none;
    overflow-y: scroll;
    touch-action: auto;
}

.help-title, .help-desc
{
    text-align: justify;
    line-height: 6vmin;
}

.help-title
{
    font-family: 'Architects Daughter', cursive;
    font-size: 5vmin;
}

.help-desc
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.7vmin;
}

.scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar
{
    width: 6px;
    background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #000000;
}

@media screen and (orientation: portrait) and (max-width: 1440px) and (max-height: 3120px)
{
    .menu-title
    {
        opacity: 0;
        margin-top: 20vmax;
    }

    .menu-btn-group
    {
        padding-top: 96vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 1284px) and (max-height: 2778px)
{
    .menu-title
    {
        opacity: 0;
        margin-top: 35vmin;
    }

    .menu-btn-group
    {
        padding-top: 98vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 1024px) and (max-height: 1367px)
{
    .menu-title
    {
        opacity: 0;
        margin-top: 9vmin;
    }

    .menu-btn-group
    {
        padding-top: 36vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 1024px) and (max-height: 1366px)
{
    .menu-title
    {
        opacity: 0;
        margin-top: 16vmin;
    }

    .menu-btn-group
    {
        padding-top: 53vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 1024px) and (max-height: 1365px)
{
    .menu-title
    {
        opacity: 0;
        margin-top: 9vmin;
    }

    .menu-btn-group
    {
        padding-top: 36vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 768px) and (max-height: 1024px)
{
    .menu-title
    {
        opacity: 0;
        margin-top: 14vmin;
    }

    .menu-btn-group
    {
        padding-top: 60vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 720px)
{
    .menu-title
    {
        opacity: 0;
        margin-top: 9vmin;
    }

    .menu-btn-group
    {
        padding-top: 35vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 600px) 
{
    .menu-title
    {
        opacity: 0;
        margin-top: 15vmin;
    }

    .menu-btn-group
    {
        padding-top: 67vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 515px) 
{
    .menu-title
    {
        opacity: 0;
        margin-top: 20vmin;
    }

    .menu-btn-group
    {
        padding-top: 73vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 414px)
{
    .menu-title
    {
        opacity: 0;
        margin-top: 35vmin;
    }

    .menu-btn-group
    {
        padding-top: 83vmin;
    }

    .start-btn, .explore-btn, .about-btn
    {
        opacity: 0;
        padding: 3vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 414px) and (max-height: 736px)
{
    .menu-title
    {
        opacity: 0;
        margin-top: 23vmin;
    }

    .menu-btn-group
    {
        padding-top: 83vmin;
    }

    .start-btn, .explore-btn, .about-btn
    {
        opacity: 0;
        padding: 3vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 375px) and (max-height: 812px)
{
    .menu-title
    {
        opacity: 0;
        margin-top: 39vmin;
    }

    .menu-btn-group
    {
        padding-top: 90vmin;
    }

    .start-btn, .explore-btn, .about-btn
    {
        opacity: 0;
        padding: 3vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 375px) and (max-height: 667px)
{
    .menu-title
    {
        opacity: 0;
        margin-top: 20vmin;
    }

    .menu-btn-group
    {
        padding-top: 90vmin;
    }

    .start-btn, .explore-btn, .about-btn
    {
        opacity: 0;
        padding: 3vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 360px) 
{
    .menu-title
    {
        opacity: 0;
        margin-top: 33vmin;
    }

    .menu-btn-group
    {
        padding-top: 78vmin;
    }

    .start-btn, .explore-btn, .about-btn
    {
        opacity: 0;
        padding: 3vmin;
    }
}

@media screen and (orientation: portrait) and (max-width: 280px)
{
    .menu-title
    {
        opacity: 0;
        margin-top: 35vmin;
    }

    .menu-btn-group
    {
        padding-top: 110vmin;
    }

    .start-btn, .explore-btn, .about-btn
    {
        opacity: 0;
        padding: 3vmin;
    }
}